.companyList {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.companyList__text h3 {
  font-family: SuisseWorks, Georgia, Times, "times new roman", serif,
    "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: 24px;
  font-weight: 700;
  color: #1c1d1f;
  padding: 1rem;
}

.companyList__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.companyList__images img {
  object-fit: contain;
  cursor: pointer;
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  .companyList__text h3 {
    font-size: 17px;
  }
  .companyList__images img {
    margin-left: 1.5rem;
  }
}
