.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.login__content {
  display: flex;
  flex-direction: column;
  min-width: 26%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 3rem;
}

.login__option {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  background: white;
  margin-bottom: 1rem;
}

.login__option:hover {
  background: whitesmoke;
}

.login__option > h4 {
  margin-left: 1rem;
  font-size: 1rem;
}

.login__option > img {
  width: 25px;
}

.login__inputs {
  display: flex;
  flex-direction: column;
}

.login__inputs > input[type="text"] {
  font-size: 18px;
  padding-left: 0.5rem;
}

.login__inputs > input[type="password"] {
  font-size: 18px;
  padding-left: 0.5rem;
}

.login__inputs > input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  height: 2.5rem;
  border: 1px solid black;
  background: white;
}

.login__inputs > button {
  margin-top: 1rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  background: #a435f0;
  cursor: pointer;
}

.login__inputs > button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.login__text {
  margin-top: 1rem;
}

.login__text a {
  text-decoration: none;
  color: #a435f0;
  font-weight: 700;
}
