.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  height: auto;
  padding: 0.7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar__logo {
  width: 91px;
  height: 34px;
  cursor: pointer;
  object-fit: contain;
}

.navbar__input {
  outline: none;
  border: 1px solid black;
  border-radius: 25px;
  width: 45%;
  height: 3rem;
}

.navbar input[type="text"] {
  font-size: 16px;
  padding-left: 0.5rem;
}

::placeholder {
  padding-left: 1.6em;
  font-size: 14px;
}

input[type="text"] {
  background: #f7f9fa;
}

.navbar__text {
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-size: 14px;
  font-weight: 400;
  color: #1c1d1f;
}

.navbar__text:hover {
  color: #5624d0;
  cursor: pointer;
}

.navbar__icon:hover {
  color: #5624d0 !important;
  cursor: pointer;
}

.navbar__menuIcon,
.navbar__searchIcon {
  display: none !important;
}

.navbar__hidden {
  position: absolute;
  left: 0;
  top: 56px;
  width: 76vw;
  height: 115vh;
  background: #f7f9fa;
  z-index: 99;
  height: auto;
}

.navbar__hidden h3 {
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-size: 19px;
  font-weight: 800;
  margin-left: 15px;
  margin-bottom: 25px;
  color: #6a6f73;
}

.navbar__hidden h4 {
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-size: 18px;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 25px;
}

.hide {
  display: none !important;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__logout {
  outline: none;
  background: none;
  border: none;
}

.navbar__ins {
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-size: 16px;
  font-weight: 700;
  color: #a435f0;
  font-size: 15px;
}

.navbar__login {
  font-size: 14px;
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-weight: 700;
  border: 1px solid black;
  padding: 0.6rem 1.2rem;
  background: white;
}

.navbar__signup {
  font-size: 14px;
  font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  font-weight: 700;
  border: 1px solid black;
  padding: 0.6rem 1.2rem;
  background: black;
  color: white;
  margin-left: 1rem;
}

.navbar a {
  text-decoration: none;
  color: unset;
}

.navbar__user > .navbar__icon {
  margin-left: -1.5rem;
  margin-right: 1.5rem;
}

.navbar__login:hover {
  background: whitesmoke;
}

.m-signOut {
  outline: none;
  background: white;
  padding: 0.1rem 1rem;
  border: none;
}

@media screen and (max-width: 1090px) {
  .navbar__ub {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .navbar__ins,
  .navbar__logout {
    display: none;
  }
  .navbar__login,
  .navbar__signup {
    display: none;
  }
  .navbar__user > .navbar__icon {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 825px) {
  .navbar__favIcon,
  .navbar__notificationIcon {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .navbar__input,
  .navbar__text,
  .navbar__avatar {
    display: none !important;
  }
  .navbar__menuIcon,
  .navbar__searchIcon {
    display: initial !important;
    margin-right: 1em;
  }
  .navbar {
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar__hidden h3 {
    font-size: 18px;
  }
  .navbar__hidden h4 {
    font-size: 17px;
  }
}
