.searchRow {
  display: flex;
  margin-top: 6%;
  font-family: "sf pro display", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  cursor: pointer;
  margin-bottom: -2.5rem;
}

.searchRow__image {
  object-fit: contain;
  margin-right: 1.5rem;
  transition: all ease-in-out 0.15s;
}

.searchRow__image img {
  width: 255px;
  border: 1px solid black;
  height: auto;
}

.text__main {
  display: flex;
  align-items: center;
}

.text__title {
  font-size: 1.1rem;
  font-weight: 700;
  flex: 1;
}

.text__description {
  font-size: 0.9rem;
  font-weight: 400;
  width: 88%;
  margin-top: 0.35rem;
}

.text__instructor {
  font-size: 0.85rem;
  font-weight: 320;
  margin-top: 0.25rem;
}

.text__reviews {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.text__time {
  font-size: 0.8rem;
  font-weight: 350;
  margin-top: 0.25rem;
}

.rating {
  font-size: 0.88rem;
  font-weight: 700;
  color: #b4690e;
}

.reviews {
  font-size: 0.8rem;
  font-weight: 350;
}

.text__stars {
  font-size: 15px !important;
  color: #e59819;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.m-price {
  display: none;
}

.bestseller {
  font-weight: 700;
  font-size: 12px;
  color: #3d3c0a;
  border: 1px solid palegoldenrod;
  background: palegoldenrod;
  width: auto;
  padding: 0.18rem;
  margin-top: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.text__foot {
  display: flex;
  align-items: center;
}

.searchRow:hover .searchRow__image {
  filter: brightness(85%);
}

@media screen and (max-width: 768px) {
  .searchRow {
    flex-direction: column;
    margin-top: 5rem;
  }

  .text__description {
    display: none;
  }
  .price {
    display: none;
  }
  .m-price {
    display: initial !important;
  }
  .text__time {
    margin-bottom: 0.8rem;
  }
  .text__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }
  .m-price {
    flex: 1;
  }
  .bestseller {
    margin-right: 2rem;
  }
}
